.nav {
    list-style-type: none;
    display:block;
    width: 100%;
    top:0;
    color:white;
    background-color: cyan;
    position: relative;
}
.nav > li {
    display:inline-block;
    text-decoration:none;
    width: 15%;
    margin-right: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.nav > li:hover{
    border: 3px solid rgb(255, 166, 0);
}
.dropdown li{
    display:none;
    position:relative;
}
.nav  li:hover .dropdown li{
    display:block;
    position:absolute;
    background-color: cyan;
}

.dropdown > li:hover{
    border: 3px solid rgb(255, 166, 0);
}