ul {
    list-style-type: none;
    margin-bottom: 5px;
    width: 100%;
    top: 0;
    padding: 15px 15px 15px 315px;
}
ul li {
    text-align: center;
    background-color:blue;
    margin-left: 10px;
    margin-top: 0;
    display:inline-block;
    border: solid black;
    width: 200px;
    padding: 20px 0 20px 0;
    position: relative;
}
ul li a {
    text-decoration: none;
    font-size: large;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
ul > li:hover {
    border: solid 5px orange;
}
.projects{
    display:none;
    position: absolute;
    width: 175px;
    margin-left: -163%;
    margin-top: 25%;
}
ul li:hover .projects{
    display: block;
}
ul li .projects a{
    text-decoration:none;
}