main{
    display:grid;
    grid-template-columns: 1fr 1fr 5fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-gap: 15px 15px;
    height: 720px;
}
header{
    background-color: blue;
    color: white;
    grid-column: 1 / span 3;
    font-size: 100px;
}
nav{
    grid-column: 1;
    grid-row: 2;
}
content{
    grid-column:2 / span 3;
    grid-row: 2;
}
footer{
    background-color: blue;
    color: white;
    grid-column:1 / span 3;
    grid-row: 3;
}
.mainpage {
    justify-content: center;
    margin-bottom: 1px;
    margin-right: 1px;
}
home {
    display: grid;
    grid-template-columns: 20fr;
    grid-template-rows: 1fr 25fr 1fr;
    grid-gap: 15px 10px;
    height: 720px;
}
list {
    display: grid;
    grid-column: 1 / span 3;
    grid-row: 2;
    justify-items: right;
    align-items: top;
}
mainmenu {
    grid-column: 1 / span 3;
    grid-row: 1;
    align-items: center;
    justify-items: center;
}
@media (max-width: 600px){
    main{
        width: 100%;
    }
    home {
        width: 100%;
    }
    reflection1{
        width: 100%
    }
    projects1{
        width:100%
    }
}
reflection1 {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0fr 1fr;
}
reflectionheading{
    background-color:blue;
    color:white;
    grid-row:1;
}
reflectionparagraph {
    grid-row: 2;
}
projects1{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    color:white;
}
projects1 ul{
    font-size: x-large;
}
projects1 ul li{
    text-decoration:none;
}